#menu {
    border: 1px solid black;
    width: 100%;
    margin: 0px;
    text-decoration: none;
    background-color: rgb(140,140,140)
}
#menu li {
    display: inline;
}
#header {
    background-color: white;
}

#main {
    margin: 10px;
    height: 100%;
    border: 1px solid red;
}

#Wadizit {
    margin: 10px;
    padding: 20px;
    height: 100%;
    border: 1px solid blue;
}

#grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#table1 {
    width: 1fr;
}